.vscode/**
.vscode-test/**
src/**
test/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.prettierignore
lint-staged.config.js
simple-git-hooks.js
commitlint.config.js
